.App {
  font-family: sans-serif;
  text-align: center;
}
@keyframes elastic {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.9);
  }
}

